---
import { FaHome } from "react-icons/fa";
import { FaFacebook } from "react-icons/fa";
---

<section id="contact-us" class="bg-blue-700 py-20 mt-40 text-white text-center">
  <div class="container mx-auto px-4">
    <div class="max-w-full mx-auto flex flex-col lg:flex-col gap-16">
      <div class="lg:w-full">
        <h2 class="text-4xl font-serif font-bold mb-4">Contact Us</h2>

      </div>
      <div class="lg:w-full">
        <h2 class="text-4xl font-serif font-bold mb-4"><a href="tel:+17745458626">+1 (774) 545 8626</a></h2>
      </div>
      <div class="lg:w-full">
        <h2 class="text-4xl font-serif font-bold mb-4"><a type="email" href="mailto:board@riverviewcondoboard.onmicrosoft.com">Email : board@riverviewcondoboard.onmicrosoft.com</a></h2>
      </div>
      <div class="lg:w-full">
        <h2 class="text-4xl font-serif font-bold mb-4"><a  href="https://www.facebook.com/profile.php?id=100064595327410">Facebook 
        </a></h2>
      </div>
      <div class="lg:w-full">
        <h2 class="text-4xl font-serif font-bold mb-4 ">
         
          <span> 13 Pullard Rd, Grafton, MA, United States, Massachusetts</span>
          <div> PO Box 570</div>
      </h2>
    
      </div>
    </div>
  </div>
</section>
